%h1 Constraints#hoge
%p Find me in app/views/constraints/hoge.html.haml

%div
  = link_to "domain1_constraints_hoge_path", domain1_constraints_hoge_path
%div
  = link_to "domain1_constraints_hoge_url", domain1_constraints_hoge_url

%div
  = link_to "domain2_constraints_hoge_path", domain2_constraints_hoge_path
%div
  = link_to "domain2_constraints_hoge_url", domain2_constraints_hoge_url
