<p style="color: green"><%= notice %></p>

<h1>Entries</h1>

<div id="entries">
  <% @entries.each do |entry| %>
    <%= render entry %>
    <p>
      <%= link_to "Show this entry", [:users, entry] %>
    </p>
  <% end %>
</div>

<%= link_to "New entry", new_users_entry_path %>
